.navbar {
  height: 10vh;
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--main-color);
  color: var(--background);
  transition: max-height 0.5s ease-out;
}

.nav-links a {
  color: var(--text-alt);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--tertiary-color);
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 2;
  transition: 0.7s ease-out;
}

.menu li {
  padding: 5px 14px;
  list-style: none;
}

.menu li:hover {
  color: var(--tertiary-color);
  border-radius: 5px;
  transition: 0.3s ease;
}

.dropdown {
  background-color: var(--main-color);
  padding: 1px 0;
  position: absolute;
  display: none;
  top: 30px;
  left: 10px;
}

.dropdown li {
  padding: 5px 14px;
  width: fit-content;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--main-color);
}

.hamburger {
  color: var(--tertiary-color);
  display: none;
  font-size: 24px;
  user-select: none;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: var(--text-alt);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--text-alt);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

#checkbox_toggle {
  display: none;
}

#checkbox_toggle:checked ~ .hamburger .hamb-line {
  background: transparent;
}

#checkbox_toggle:checked ~ .hamburger .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

#checkbox_toggle:checked ~ .hamburger .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.services {
  position: relative;
}

.services:hover .dropdown {
  display: block;
}

.icon-activity {
  font-size: 18px;
  cursor: pointer;
}

.insetshadow {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  color: var(--text-alt);
  text-shadow: -1px -1px 1px var(--tertiary-color), 2px 2px 1px var(--black);
}

.logo {
  font-size: 32px;
}

/* Mobile version 780px backwards */
@media (max-width: 780px) {
  .menu {
    margin: 1em 0 0 0;
    display: unset;
    background-color: var(--main-color);
    opacity: 0;
    max-height: 0;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    transition: max-height 0.5s ease-in-out, opacity 0.1s ease-in-out;
    z-index: -1;
    overflow: hidden;
  }

  #checkbox_toggle:checked ~ .menu {
    display: block;
    opacity: 1;
    max-height: 100%;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 2;
  }

  .menu li:hover {
    background-color: var(--main-color);
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li {
    margin-top: 12px;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    position: initial;
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
}
