.table-container {
  overflow-x: auto;
  max-width: 100%;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 15px;
}

/* Table Header Styles */
thead th {
  background-color: var(--second-color);
  color: var(--white);
  padding: 0.4em;
}

thead th:first-child {
  border-radius: 5px 0 0 0; /* Apply rounded corners to the top-left corner */
}

thead th:last-child {
  border-radius: 0 5px 0 0; /* Apply rounded corners to the top-right corner */
}

th,
td {
  padding: 5px 0px 5px 0px;
  text-align: center;
}

td:first-child {
  padding-left: 2px;
}

table tr:nth-child(odd) {
  background-color: var(--light-gray);
}

tbody tr:hover {
  background-color: var(--tertiary-color);
}
