.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card-container {
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--soft-gray);
  border-radius: 8px;
  background-color: var(--background);
}

.profile-img-card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--soft-gray);
  border-radius: 4px;
}

.btn-primary {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--background);
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--second-color);
}

.btn-block {
  display: block;
  width: 100%;
}
