* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.select {
  padding: 5px;
  border: 1px solid var(--soft-gray);
  border-radius: 4px;
  background-color: inherit;
  color: var(--text);
}

.select option {
  color: var(--text);
  background-color: var(--background);
}

.app {
  height: 100vh;
}

.lang-container {
  margin-bottom: 0.3em;
}
