/* Reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Colors */
:root {
  --main-color: #01579b;
  --second-color: #086bb8;
  --tertiary-color: #d4f1f7;
  --opposite-color: #f44336;
  --opposite-dark-color: #ff3c0b;
  --warning: navajowhite;
  --white: #fff;
  --black: #000;
  --dark-gray: #333;
  --light-gray: #e4e9ee;
  --soft-gray: #ccc;
}

/* Text Shadow Class */
.insetshadow {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-shadow: -1px -1px 1px var(--tertiary-color), 2px 2px 1px var(--black);
}

/* Typography */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--white);
}

/* Links */
a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--tertiary-color);
}
